*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}
.inner_header{
    padding-left: 30px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: red; */
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
}
.donate_button {
    color: #65ff00;
    padding: 2px 2px;
    padding-right: 35px;
}

.logo_container h1 span {
    font-weight: 800;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child { padding-right: 0; }
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 30px;
}

.navigation a li:hover {
    opacity: 0.5;
}
/* Above is the CSS for the header */




/* Below is the CSS for index.html (home page)*/

        /* Welcome to practical gaming center */
 .main {
    position: relative;
    margin-top: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 50px;
}


        /*The online library of game tutorials */
        .mainsub {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
} 

        /*  Home page: A-Z tutorial section below  */

        /* When I add ads to this, derease the width of the text to fit the ads on the side*/

div.home_tutorials{
    width: 75%;
text-align: center;
margin: auto;
}
div.home_tutorials h2{
    padding-bottom: 20px;
    font-size: 50px;
    text-decoration-line: underline;
}

div.home_tutorials h2:hover {
   opacity: 0.5;
}

div.home_tutorials img {
    width: 40%;
}

        /* Home Page: Digital Gaming Center ad below */

div.digital_gaming_center {
    padding-top: 80px;
    width: 75%;
    text-align: center;
    margin: auto;
}

div.digital_gaming_center img {
    width: 40%;
    padding-top: 10;
    padding-bottom: 20px;
}

div.digital_gaming_center h2 {
    padding-bottom: 20px;
    font-size: 50px;
    text-decoration: underline;
}

div.digital_gaming_center a:hover{
    color: orangered
}



.shop {
    padding-top: 80px;
}

.game{
    padding-top: 100px;
    text-align: center;
}

/* CSS for index.html page above */












/* CSS for aztutorials.html page below */

 .aztutorials {
     position: relative;
     margin-top: 80px;
     text-align: center;
     padding-top: 40px;
     padding-bottom: 20px;
 }

 .grow_the_library {
     width: 75%;
     text-align: center;
     margin: auto;
 }

  p {
      width: 75%;
      text-align: center;
      margin: auto;
  }


        /*DATA TABLE BELOW */
.content_table {
    border-collapse: collapse;
    /* border: 1px solid; */
    margin: 25px 0;
    font-size: 25px;
        min-width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content_table a:hover{
font-size: 125%;
}

.content_table th:first-child {
    width: 0%;
    font-size: 35px;
}

.content_table th:nth-child(2) {
width: 30%;
text-align: left;
}

.content_table td {
    padding: 12px 15px;
}

.content_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table_head {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}

.table_letter {
    font-weight: bold;
}

.hyper_linked_letters {
    text-decoration: underline;
}

/*below is to make every other row gray */
/* .content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
} */

/* .content-table tbody tr:last-of-type{
    border-bottom: 2px solid green;
} */

        /*DATA TABLE ABOVE*/

/* CSS for aztutorials.html page above*/










/* CSS for tutorial page template/ article pages below */ 



.tutorial_pics {
    height: 450px;
    width: 600px;
        padding: 10px;
}

.game figcaption {
    /* height: auto; */
    width: 600px;
    text-align: center;
    margin: auto;
}

.game .pseo {
    width: 50%;
        text-align: center;
        margin: auto;
        font-size: 25px;
}

.game p {
    width: 50%;
    text-align: left;
    margin: auto;
    font-size: 25px;
    padding: 10px;
}

.game h1 {
    font-size: 45px;
        padding: 10px;
}

.game h2 {
font-size: 40px;
        padding: 10px;
}

.game h3 {
    font-size: 35px;
    text-align: left;
    margin: auto;
    width: 50%;
            padding: 10px;
}

.game h4 {
    font-size: 30px;
    text-align: left;
    margin: auto;
    width: 50%;
            padding: 10px;
}

.game .game_play_list {
font-size: 25px;    
text-align: left;
margin: auto;
width: 50%;
}

.game ul li {
padding: 10px 0;
}

.game .card_value {
    font-size: 25px;
    text-align: left;
    margin: auto;
    width: 50%;
}
#delete{
    color: red;
}

.game .type_players_supplies{
width: 50%;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.variant_link {
    text-decoration: underline;
}

.variant_link:hover {
opacity: 0.5;
}

/* CSS for tutorial page template above */










/* CSS for the footer below */



/* .footer {
    width: 100vw;
    display: block;
    overFlow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
}
.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}
.footer_navigation {
    float: center;
    height: 100%;
}
.footer_navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
 .footer_navigation a:last-child {
    padding-right: 0;
}
.footer_navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: red;
    font-size: 30px;
} */
.footer {
    padding-top: 30px;
    width: 65%;
    text-align: center;
    margin: auto;
    /* padding-bottom: 100px; */
}

/* .footer_email {
width: 100%;
} */

.footer_etsy {
    color: orangered;
    padding: 15px 10px;
    /* background-color: red; */
    text-align: center;
    width: 30%;
    margin: auto
}

.footer_etsy:hover {
font-weight: bold;
font-size: 95%;
}

.footer_donate {
    color: #101010;
    background-color: #65ff00;;
    padding: 5px 20px;
}

.footer_donate:hover {
    background-color: #101010;
    color: #65ff00;
    font-size: 115%;
    border: #101010 solid 1px;
    font-weight: bold;
}

.bottom_of_page {
    padding-top: 30px;
}

/* Above is the CSS for the footer */