*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}
.inner_header{
    padding-left: 30px;
    /* width: 1000px; */
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: red; */
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
}
.donate_button {
    color: #65ff00;
    padding: 2px 2px;
    padding-right: 30px;
}
.donate_button:hover {
    font-size: 110%;
    font-weight: bold;
}
/* .logo_container button {
    color: white;
    height: 10%;
    display: table-cell;
    vertical-align: bottom;
    font-size: 15px;
    font-weight: 200;
} */
.logo_container h1 span {
    font-weight: 800;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child { padding-right: 0; }
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 30px;
}
/* Above is the CSS for the header */

/* Below is the CSS for index.html (home page)*/

/* Welcome to practical gaming center */

 .main {
    position: relative;
    margin-top: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 50px;
}



.mainsub /*The online library of game tutorials */{
    position: relative;
    text-align: center;
    padding-bottom: 20px;
} 

/*  Home page: A-Z tutorial section below  */

/* When I add ads to this, derease the width of the text to fit the ads on the side*/

div.home_tutorials{
    width: 75%;
text-align: center;
margin: auto;
}
div.home_tutorials h2{
    padding-bottom: 20px;
    font-size: 50px;
}
div.home_tutorials img {
    width: 40%;
}

/* Home Page: Digital Gaming Center ad below */

div.digital_gaming_center {
    padding-top: 80px;
    width: 75%;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    margin: auto;
}

div.digital_gaming_center img {
    width: 40%;
    padding-top: 10;
    padding-bottom: 20px;
}

div.digital_gaming_center h2 {
    padding-bottom: 20px;
    font-size: 50px;
}

.shop {
    padding-top: 80px;
}

.game{
    padding-top: 100px;
    text-align: center;
}

/* CSS for index.html page above */












/* CSS for aztutorials.html page below */


/*DATA TABLE BELOW */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


/*below is to make every other row gray */
/* .content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
} */

/* .content-table tbody tr:last-of-type{
    border-bottom: 2px solid green;
} */

.table-head {
    background-color: black;
    color: white;
    text-align: left;
}

.table-letter {
    font-weight: bold;
    font-size: large;
}
/*DATA TABLE ABOVE*/

/* CSS for aztutorials.html page above*/










/* CSS for tutorial page template below */ 

.tutorial_pics {
    height: 450px;
    width: 600px;
}
/* CSS for tutorial page template above */










/* CSS for the footer below */

.footer {
    padding-top: 30px;
    width: 20%;
    text-align: center;
    margin: auto;
    padding-bottom: 25px;
}

.footer_etsy {
    color: orangered;
    padding: 10px;
}

.footer_donate {
    color: #65ff00;
    background-color: #101010;
    padding: 5px 20px;
}

.footer_donate:hover {
background-color: #65ff00;
color: #101010;
font-size: 115%;
border: #101010 solid 1px;
font-weight: bold;
}

/* .footer {
    width: 100vw;
    display: block;
    overFlow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
}
.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}
.footer_navigation {
    float: center;
    height: 100%;
}
.footer_navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
 .footer_navigation a:last-child {
    padding-right: 0;
}
.footer_navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: red;
    font-size: 30px;
} */

/* Above is the CSS for the footer */