*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: red; */
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 30px;
}

.main {
    position: relative;
    margin-top: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.tutorials {
    text-align: center;
}

.tutorials h1{
    font-size: 80px;
    padding-bottom: 40px;
}

.tutorials h2{
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tutorials ul li {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fannedCards{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

div.home{
    /* width: 600px; */
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.home img{
    width: 40%;
}

div.home2{
    width: 40%;
    display: flex;
flex-direction: column;
text-align: center;
margin: auto;
}

div.home2 h2{
    padding-bottom: 20px;
    font-size: 50px;
}
div.home3 {
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.home3 img {
    width: 40%;
}

div.home4 {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

div.home4 h2 {
    padding-bottom: 20px;
    font-size: 50px;
}

.shop {
    padding-top: 80px;
}

.game{
    padding-top: 100px;
    text-align: center;
}