* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header {
    padding-left: 30px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: red; */
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
}

.donate_button {
    color: #65ff00;
    padding: 2px 2px;
    padding-right: 35px;
}

.logo_container h1 span {
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 30px;
}

.navigation a li:hover {
    opacity: 0.5;
}

/* Above is the CSS for the header */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* Below is the css for the scoreboard area */


.ohShootTitle {
        margin-top: 80px;
        text-align: center;
}


 .main {
    /* margin-top: 80px; */
    max-height: 300px;
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
     /* background-color: orangered; */
 }


.mainYou {
    min-width: 18%;
    max-width: 18%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    /* background-color: yellow; */
    /* align-content: space-between */
}

.mainYourCard {
    min-width: 12%;
    max-width: 12%;
    padding: 10px 15px;
        /* background-color: blueviolet; */
}

/* .mainYouCard.img {
   max-height: 100%;
    max-width: 42%;
} */

.mainMenu {
    padding: 40px;
    min-width: 32%;
    max-width: 32%;
    text-align: center;
    /* background-color: orange; */
}

.modeButtons {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30%;
    padding: 5px;
    background-color: grey;
    color: white;
    font-size: 15px;
    border: 2px solid black;
}

.modeButtons:hover {
    background-color: orange;
    /* font-size: 110%; */
}
/* .comments { */
            /* text-align: center; */
    /* display: flex;
        flex-direction: column;
            align-content: space-between; */
        /* margin-top: 5px; */
    /* background-color: pink; */
/* } */

.mainEnemyCard {
    min-width: 12%;
    max-width: 12%;
        padding: 10px 15px;
    /* background-color: green; */
}

.mainEnemy {
    min-width: 14%;
    max-width: 14%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

/* Above is the css for the scoreboard area */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Below is the CSS for the cards */


.playerCards {
    display: flex;
    justify-content: center;
        height: 150px;
}



.actionCard:hover {
opacity: 60%;
}

/* Above is the CSS for the cards */
/*/////////////////////////////////////////////////////*/
/* Below is the CSS for the rules*/

.rules {
    margin-top: 10px;
    text-align: center;
}

